* {margin:0; padding:0}
.main {margin: auto; text-align: center;}
.row {padding-top: 1em; text-align: center;}
.change-tempo {text-align: center; width:40px; height:40px;}
.change-tempo-tempo-increase:before {content:'\▲'; display:inline-block; text-align:center;}
.change-tempo-tempo-decrease:before {content:'\▼'; display:block-block; text-align:center;}
.tempo {font-size: 1.9em; width: 2em; text-align: center; border: none;}
.change-state {width:80px; height:40px; text-align:center; color:red; font-size: 1.1em; vertical-align: middle;}
.not-ticking:before {content:'\►'; display:inline-block; padding-left: 3px; text-align:center;}
.ticking:before {content:'\■'; display:inline-block; text-align:center;}
.accent-bar-start {width: 40px; height: 40px; vertical-align: middle;}
.subdivision {width: 60px; height: 40px; font-size: 1.9em; vertical-align: middle;}


