* {margin:0; padding:0}
.main {margin: auto; text-align: center;}
.row {padding-top: 1em; text-align: center;}
.change-tempo {text-align: center; padding: 1em;}
.tempo-increase:before {content:'\▲'; display:inline-block; text-align:center;}
.tempo-decrease:before {content:'\▼'; display:block-block; text-align:center;}
.tempo {font-size: 1.9em; width: 2em; text-align: center; border: none;}
.change-state {width:2.5em; height:2.5em; text-align:center; color:red; font-size: 1.1em;}
.not-ticking:before {content:'\►'; display:inline-block; padding-left: 3px; text-align:center;}
.ticking:before {content:'\■'; display:inline-block; text-align:center;}


